#no-mobile {
  position: absolute;
  z-index: 99;
  height: 250vh;
  width: 250vh;
  background-color: #101032;
  z-index: 33;
  display: flex;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 700;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
